.Action {
  position: absolute;
  bottom: 0%;

  width: 300px;
  opacity: 0.9;
  z-index: 3;
  background-color: darkred;
  display: block;
}
.sel {
  position: initial;
  background-color: gray;
  opacity: 1;
  width: 95%;
  margin: 5px;
  display: block;
}
.option {
  background-color: azure;
  opacity: 1;
  width: 95%;
  margin: 5px;
  height: inherit;
}
.icons {
  display: flex;
}
.icons svg {
  width: 30px;
  height: 30px;
  padding: 5px;
}
