.Action {
  position: absolute;
  top: 15%;
  width: 500px;
  opacity: 0.9;
  z-index: 1;
  background-color: darkred;
  display: block;
  right: 0%;
}
.sel {
  position: initial;
  background-color: lightgray;
  opacity: 1;
  width: 95%;
  margin: 11px;
  display: block;
}
.option {
  background-color: azure;
  opacity: 1;
  width: 95%;
  margin: 11px;
  height: inherit;
}
.icons {
  display: flex;
  justify-content: space-around;
}
.icons svg {
  width: 30px;
  height: 30px;
  padding: 5px;
}
