.lists {
    border: 2px solid skyblue;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 6px 12px;
    opacity: 0.9;
    border-radius: 5px;
    margin: 8px;
    height: 50px;
  }
  .macul{
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    border-bottom: 1px solid #e1e4e8;
    display: grid;
  }
  .table{
    
  }
  .jun{
      float: left;
  }
  .hu{
      float: left;
  }