.Front {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.map {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.list {
  top: 30%;
  z-index: 1;
  left: 3%;
  position: absolute;
  height: 5%;
  min-height: 350px;
  max-height: fit-content;
  display: grid;
}
.list .btn {
  border: 1px solid skyblue;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 5px;
  opacity: 0.9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -4px;
}
.list .btn:hover {
  color: white;
  background-color: skyblue;
}

.list .onbtn {
  color: white;
  background-color: skyblue;
}

.mouse {
  position: absolute;
  background: #fff;
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 12px;
  top: -5px;
  left: 15px;
  padding: 2px;
}
